<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/nutzer/anzeigen" method="post">
        {{ csrfField() }}
        <input type="text" name="vorname" size="15" placeholder="Hier Deinen Vornamen" required>
        <input type="text" name="nachname" size="15" minlength="2" maxlength="15" placeholder="schreib Deinen Nachnamen">
        <input type="submit" value="ab damit!">
    </form>
    
</body>
</html>