@let(pageTitle= 'Home')
@include('partials/head')
<body>
 @include('partials/header')
  <h1>Mein Blog</h1>
  @if(session.get('firstname') != undefined)
    Hallo {{ session.get('firstname')  }}<br>
   <a href="/admin/post/create">neuer Beitrag</a><br>
  @end
  @each(post in posts)

  <h2>{{ post.title }}</h2>
  <p>{{ post.teaser }} <a href="/posts/{{ post.id }}">mehr...</a></p>
  @end
  @include('partials/footer')
</body>
</html>