@let(pageTitle= title)
@include('partials/head')
<body>
    @include('partials/header')
    <h1>{{ title }}</h1>
    <p>von: {{ firstname }}  {{ lastname }} am {{ date }}</p>
    <p>
      @if(key != NULL)
      <img src="{{await driveSignedUrl(key, 'fs')}}" width="200">
      @end  
    </p>
    <p>{{ text }}</p>
    <a href="/">zurück</a>
    @if(session.get('login') != undefined)
        <a href="/admin/post/edit/{{id}}">editieren</a>
    @end
    @include('partials/footer')
</body>
</html>