<!DOCTYPE html>
<html lang="de">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post erstellen</title>
</head>
<body>
    @include('partials/header')
    <h1>Post erstellen</h1>
    <form action="/admin/post/create" method="post" enctype="multipart/form-data"  >
        {{ csrfField() }}
        <input type="text" name="title"><br>
        <textarea  name="teaser"></textarea><br>
        <textarea name="text"></textarea><br>
        <input type="file" name="image"><br>
        <input type="submit" value="Post erstellen">
    </form>
    @include('partials/footer')
</body>
</html>